@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto';
}

#title{
    font-size: 48px;
    color: black;
}

.contenedorNombres{
    display: flex;
}

.nombreEmpleado{
    display: flex;
    position: relative;
    left: 2%;
    top: 2%;
}

.datosEmpleado{
    font-size: 33px;
}

.btnVerUbicacion{
    position: relative;
    left:90%;
    bottom: 50%;
}
.separaBoton{
    position: relative;
    right: 2%;
}

.botonesFinal{
    position: relative;
    display: flex;
    left: 80%;
}

.pantallaPrincipal{
    display: flex;

}

.labels{
    font-size: 36px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2%;
    width: 237px;
}

.inputs{
    width: 100px;
}
.inputDisabled{
    position: relative;
    width: 154px;
    height: 50px;
}