@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto';
}

#title{
    font-size: 48px;
    color: black;
}

#encabezado2{
    background: #F9F6FB;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid #542463;
}


.botonasignarbodega{
    background: #F3071E;
}

